{% extends "base.html" %} {% block content %}

  <div class="container mt-5 mb-5">
    <div class="row">
      {% include 'includes/dashboard_sidebar.html'%}
      <main class="col-md-9">
        <article class="card bg-light">
          <header class="card-header bg-light">
            <strong class="d-inline-block mr-3">Change Your Password</strong>
            {% include 'includes/alert.html' %}
          </header>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <form action="{% url 'change_password' %}" method="POST">
                  {% csrf_token %}

                  <div class="form-group">
                    <label>Current Password</label>
                    <input
                      type="password"
                      name="current_password"
                      class="form-control"
                      placeholder="Current Password"
                      required
                    />
                  </div>
                  <div class="form-group mt-3">
                    <label>Create new password</label>
                    <input
                      type="password"
                      name="new_password"
                      class="form-control"
                      placeholder="Create new Password"
                      required
                    />
                  </div>

                  <div class="form-group mt-3">
                    <label>Confirm new password</label>
                    <input
                      type="password"
                      name="confirm_password"
                      class="form-control"
                      placeholder="Confirm new Password"
                      required
                    />
                  </div>

                  <input type="submit" value="Submit" class="btn btn-primary mt-3" />
                </form>
              </div>
            </div>
          </div>
        </article>
      </main>
    </div>
  </div>


{% endblock %}
