{% extends "base.html" %} {% load static %} {% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="mt-3">
  <div class="container">
    <div class="row">
      {% include 'includes/dashboard_sidebar.html'%}
      <main class="col-md-9">
        <article class="card bg-light">
          <header class="card-header bg-light">
            {% include 'includes/alert.html' %}
            <strong class="d-inline-block mr-3">Logged in as: </strong>
            <span>{{user.full_name}}</span>
          </header>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div
                  class="card side-container-place-order"
                  style="text-align: center"
                >
                  <div class="card-body">
                    <h5 class="card-title mb-0">Total Amount</h5>
                    
                    <a href="#" style="text-decoration: none">{{user.amount}} BDT</a>
                    <form action="{% url 'add_amount' %}" method="POST" class="mt-1">
                      {% csrf_token %}
                      <div style="display: flex; align-items: center; gap: 0.5rem;">
                          <input type="number" step="0.01" id="inputAmount" name="amount" 
                                 style="flex: 1; max-width: 200px;" 
                                 class="form-control" aria-describedby="amountHelpInline" placeholder="Enter amount">
                          <button type="submit" class="btn btn-primary">
                              Request Add Money
                          </button>
                      </div>
                  </form>
                  
                  
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div
                  class="card side-container-place-order"
                  style="text-align: center"
                >
                  <div class="card-body">
                    {% if user_profile.profile_picture %}
                    <img
                      src="{{ user_profile.profile_picture.url }}"
                      alt="User Profile Picture"
                      width="50"
                      height="50"
                      style="border-radius: 50%"
                    />
                    {% else %}
                    <img
                      src="{% static 'profile.png' %}"
                      alt="User Profile Picture"
                      width="50"
                      height="50"
                      style="border-radius: 50%"
                    />
                    {% endif %}
                    <p class="mb-0">{{user.email}}</p>
                    <p>{{user.phone_number}}</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- row.// -->
          </div>
          <!-- card-body .// -->
        </article>
        <!-- order-group.// -->
      </main>
    </div>
    <!-- row.// -->
  </div>
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}
